# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# VS Code and IDE
.vscode/
.idea/

# Test and coverage
.pytest_cache/
.coverage

# Docker/Localstack
.localstack/

# Loki and other data
loki/data/