# --- Python ---
__pycache__/
*.py[cod]
*.so

# Virtualenv
.venv/
venv/
env/

# Build & packaging
build/
dist/
*.egg-info/

# Test/coverage caches
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/

# Type checkers / linters
.mypy_cache/
.pytype/
.pyre/

# Logs
logs/
*.log

# Editors/IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Env files 
.env
.env.*
!.env.example

.*
!.gitignore
!.gitattributes
!.github/
!.gitmodules
